{% extends '../base.html' %}

{% block content %}

<!-- <div class="col-md-6 offset-md-3"> -->

{% if user.is_authenticated %}

<h1>Orders</h1>

<table class="table table-striped table-hover table-bordered">
    <thead class="table-dark">
        <tr>
            <th scope="col">Order #</th>
            <th scope="col">Customer</th>
            <th scope="col">Created At</th>
        </tr>
    </thead>
    <tbody>
        {% if orders %}
        {% for order in orders %}
        <tr>
            <td>
                <a href="{% url 'order-record' order.id %}">
                {{ order.order_number }}
                </a>
            </td>
            <td>
                <a href="{% url 'customer-record' order.customer.id %}">
                {{ order.customer }}
                </a>
            </td>
            <td>
                {{ order.created_at }}
            </td>
        </tr>

        {% endfor %}
        {% endif %}

    </tbody>
</table>

{% else %}
<div class="col-md-6 offset-md-3">
    <h1>
        Login
    </h1>

    <br />

    <form method="post" action="{% url 'home' %}">
        {% csrf_token %}
        <div class="mb-3">
            <input type="text" class="form-control" id="username" name="username" placeholder="Username" required>
        </div>
        <div class="mb-3">
            <input type="password" class="form-control" id="password" name="password" placeholder="Password" required>
        </div>
        <button type="submit" class="btn btn-secondary">Login</button>
    </form>

</div>
{% endif %}


{% endblock %}